body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
    background: #FFF5DE; /* Light cream background */
}

#navbar {
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    text-align: center;
    padding: 10px 0;
    z-index: 1000; /* Ensure navbar is above all other content */
}

.nav-link {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.screen {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.profile-img {
    width: 30%;
    border-radius: 50%;
    border: 5px solid #FAD6A5; /* Light peach border */
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

#typewriter-text {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
    border-right: 3px solid #333; /* Simulating the cursor */
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
}

.arrow {
    position: absolute;
    bottom: 20px;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    color: #333;
}

.arrow.up {
    top: 20px;
    bottom: auto;
}

.arrow:hover {
    color: #555;
}

.code-container {
    display: flex;
    width: 80%;
    height: 60vh;
    margin-top: 20px;
    justify-content: space-between;
    align-items: flex-start;
}

.code {
    flex: 1;
    margin-right: 20px;
    background-color: #282c34; /* Dark background for code area */
    color: #abb2bf; /* Light grey text */
    padding: 20px;
    overflow: auto;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap; /* Maintains whitespace formatting */
    word-wrap: break-word;
    border-radius: 5px;
}

.output-box {
    flex: 1;
    background-color: #282c34; /* Dark background for output */
    color: #98c379; /* Green text for output to mimic console output */
    padding: 20px;
    overflow: auto;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
}

.cursor {
    border-right: 2px solid #333; /* Simulates the blinking cursor */
    padding-right: 5px;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% { border-color: transparent; }
}
