body, html {
	height: 100%;
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #b2ac88; /* Updated to sage green */
	color: white;
}

section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	text-align: center;
}

.profile-img {
	max-width: 200px;
	border-radius: 100%;
	margin-bottom: 40px;
}

.typing-animation {
	margin-bottom: 20px;
}

.scroll-arrow {
	width: 50px;
	cursor: pointer;
}

.code-input, code-output {
	width: 90%;
	max-width: 600px;
	background-color: #333;
	color: #ddd;
	border: none;
	padding: 10px;
	font-family: monospace;
	margin: 10px;
}

.code-input {
    height: 120px;
}

.code-output {
    min-height: 50px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: grey;
    border: none;
    color: white;
}
