body, html {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    color: #47280B;
    background-color: #FDFBF9;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction:column;
}

.main-content {
    flex: 1 0 auto; 
}

html {
    height: 100%; 
}

body {
    width: 100%;
    min-height: 100%; 
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    color: #47280B;
    background-color: white;
    display: flex;
    flex-direction: column; 
}


/**Navigation Bar**/
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #FDFBF9;
    box-shadow: 0 2px 5px #FF5D11;
    padding: 10px 20px;
    z-index: 1000;
}

.nav-links {
    display: flex;
    margin-right: 20px; 
}

.nav-item {
    text-decoration: none;
    color: #47280B;
    font-size: 18px;
    padding: 10px;
    transition: color 0.3s;
}

.nav-item:hover {
    color: #FF5D11;
}

section {
    padding: 50px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/**Home Page**/
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #FDFBF9; 
    padding: 50px 20px;
    min-height: 100vh;
}

.centered-container {
    background-color: #FFDAA5; 
    width: 100%; 
    height: 70vh;
    padding: 20px; 
    margin: auto; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    border-radius: 10px;
    overflow: hidden;
}

@media (min-width: 768px) {
    .centered-container {
        width: 50%; 
    }
}

#typewriter {
    font-size: 30px; 
    border-right: 2px solid black; 
    white-space: pre-wrap; 
    overflow-wrap: break-word;
    margin: 0 auto; 
    padding: 10px;
    animation: blinkCursor 0.8s steps(40, end) infinite; 
}

@keyframes blinkCursor {
    from, to { border-color: transparent }
    50% { border-color: black }
}


/**About Me Page**/
.about .subtitle {
    margin-bottom: 50px; 
}

#about {
    background-color: #FFDAA5;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
    padding: 50px 20px;
}

#profile-icon {
    box-shadow: 6px 6px 9px #47280B;
    max-width: 300px;
    width: 40%;
    height: auto;
    border-radius: 50%;
    margin-right: 20px;
}

.about-text {
    flex: 1; 
    text-align: left; 
    padding: 0 20px; 
}

h1 {
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 0;
}

#home h1, #profile-icon {
    transition: all 0.3s ease;
    transform: translateY(0); 
}

h2 {
    font-size: 32px;
    margin-bottom: 20px;
}


/**Education Page**/
#education {
    text-align: left;
    background-color: #FDFBF9;
    padding: 50px 20px;
}

#education .subtitle {
    margin-bottom: 30px; 
}

.education-container {
    width: 100%;
    margin: 0 auto;
    line-height: 1.5;
    align-items: flex-start;
}

.education-info {
    display: flex;
    align-items: center; 
}

.university-logo {
    width: 80px;
    margin-right: 20px;
}

.university-details {
    display: flex;
    flex-direction: column;
    text-align: left; 
    line-height: 0.07; 
}

.education-container div {
    text-align: left; 
    width: 100%; 
    
}


.coursework {
    width: 100%; 
    text-align: left; 
}

.courses-container {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start;
}

.course-list {
    width:48%;
    padding: 0 20px; 
}

.coursework h4, .course-list h5 {
    text-align: left; 
    margin-left: 20px; 
    margin-bottom: 10px;
    color: #47280B; 
}


ul {
    list-style-type: none; 
    padding-top: 0;
}

li {
    margin-bottom: 2px;
    position: relative;
    padding-left: 10px;
}

li:before {
    content: '•'; /* Custom bullet point */
    color: #333; /* Bullet color */
    position: absolute;
    left: 0;
}


/**Project Page**/

#projects {
    background-color: #FFDAA5;
}

.button, .filter-button {
    border: 2px solid #FF5D11;
    color: #47280B;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover, .filter-button:hover {
    background-color: #FF5D11;
    color: #FDFBF9;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; 
    padding: 20px;  
}

.project-card {
    background-color: #FDFBF9; 
    color: #47280B; 
    text-decoration: none;
    border: 1px solid #FFDAA5; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    transition: transform 0.3s ease;
    overflow: hidden; 
    position: relative; 
    display: flex;
    width: 300px;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 300px;
}

.project-card:hover .project-details {
    opacity: 1;
    visibility: visible;
}

.project-image {
    width: 100%; 
    height: 150px; 
    object-fit: cover; 
}

.project-info, .project-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
    padding: 10px;
}

.project-info {
    z-index: 1;
}

.project-details {
    background-color: rgba(255, 255, 255, 0.9); 
    opacity: 0;
    visibility: hidden;
    z-index: 0; 
}

.project-card:hover .project-details {
    opacity: 1;
    visibility: visible;
    z-index: 2;
}

.tags {
    background-color: #FFDAA5;
    color: #47280B;
    padding: 5px;
    border-radius: 5px; 
    margin-top: 10px;
    font-size: 0.8em;
}


/**Footer**/
footer {
    padding: 20px;
    background-color: #FDFBF9;
    text-align: center;
}

#social-container {
    font-size: 16px; 
    background-color: #FDFBF9;
}

#social-container a {
    text-decoration: none;
    color: #47280B; 
    margin: 0 15px; 
    transition: color 0.3s; 
}

#social-container a:hover {
    color: #FF5D11; 
}

#copyright {
    font-size: 12px; 
    margin-top: 10px;
    color: #47280B;
}

